/*
====================================================================================================================================================================
                                                    Start Global Properties 
====================================================================================================================================================================
*/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(122, 122, 122, 0);
    color: rgb(0, 0, 0);
}

header {
	width: 100%;
	height: 80px;
	background: #000000;
}

img#logo { 
    margin-left: 80px;
    margin-right: 100px;
    position: absolute;
    top: 17px;
    left: 0;
}

nav {
    display: inline-block;
    margin-left: 400px;
    margin-top: 30px;
}

a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: large;
    font-weight: 6em;
	font-family: 'Cambria';
	margin-right: 20px;
    padding: 30px;
}

a:hover {
    color: rgb(255, 0, 0);
    background: #000000;  
    padding: 30px;
}

button {
    width: 50%;
    height: 50px;
	background: #000000;
    color: rgb(255, 255, 255);
    font-size: 2em;
    border:none;
}

button:hover {
    background: #000000;
    color: rgb(255, 0, 0);
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 2em;
}

/*
====================================================================================================================================================================
                                                    End Global Properties 
====================================================================================================================================================================
*/